/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
:root {
    --bs-body-font-size: 16px;
    --bs-body-bg: #00272B !important;
    --bs-body-font-family: 'Poppins', sans-serif !important;
}

body{
    padding: 20px 25px 20px 15px;
    width: 100vw;
    height:100vh;

    font-size: var(--bs-body-font-size);
    font-family: var(--bs-body-font-family) !important;
    color: white;

    background-color: var(--bs-body-bg) !important;
    overflow-y: visible;
    overflow-x: hidden;

    /* border: 1px solid red; */
}

.main{
    margin:0;
    /* border: 1px solid white; */
}
/*Nav Bar Design START*/
.navBarSection{
    padding:0;
}
.row{
    padding:0;
}
.img-logo{
    width:40px;
    height:40px;
}
.txt-welcome{
    font-weight: 700;
    font-size:20px;
    color: #80B918;
}
.txt-email{
    font-size: 14px;
    color: #80B918;
}
/*Nav Bar Design END*/

/*pdfComment Section START*/
.pdfCommentSection{
    margin-top: 20px;
}
    .com_sec{
        background-color: white;
        color: white;
        height: 600px;
        padding: 10px;
    }
    label{
        color: #80B918;
        padding-top: 15px;
        font-weight: 700;
    }
    .txt-coorName{
        color: #80B918;
        font-size: 18px;
        font-weight: 700;
    }
    .lbl-coorName{
        font-style: italic;
        color: #80B918;
        font-size: 12px;
    }
    .custom-textarea{
        background-color: #f5f5f5 !important;
        padding: 10px;
        width: 100%;
        height: 110px;
    }
    .btn-submit{
        margin-right: 20px;

        border-width: 1px;
        border-radius: 10px;

        width: 100px;
        height: 30px;
        color: white;
        background-color: #212529;

        font-size: 18px;
    }

/*pdfComment Section END*/

@media (max-width: 576px)  {
    body{
        padding: 20px;
    }
    .txt-email{
        font-size: 11px;
    }

}