/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('/Root_1/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
:root {
    --bs-body-font-size: 16px;
    --bs-body-font-family: 'Poppins', sans-serif !important;
    --bs-table-bg: #f5f5f5 !important;
}

body{
    padding: 20px 25px 20px 15px;
    width: 100vw;
    height:100vh;

    font-family: 'Poppins', sans-serif !important;
    color: white;

    background-color: #00272B !important;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.main{
    padding:0;
    margin:0;

    /* border: 1px solid white; */
}
/*Nav Bar Design START*/
.navBarSection{
    padding:0px;
}
.row{
    padding:0;
}
.hello{
    font-size: 20px;
}
.txt-hello{
    font-weight: 700;
    color: #80B918;
}
.txt-username{
    color: #80B918;
}
.txt-email{
    font-size: 14px;
    color: #80B918;
}
.search {
    width: 100%; 
}
.input-search {
    width: 100%;  
    max-width: 100%; 
    border: none; 
    border-bottom: 2px solid #80B918; 
    
    outline: none; 
    background-color: transparent;

     color: white;
}
.btn-logout{
    padding: 5;
    border: none;
    border-radius: 10px;

    width: 100px;
    height: 30px;
    background-color: #f5f5f5;

    font-weight: 700;
    color: #80B918;
}
/*Nav Bar Design END*/

/*Table Section START*/
.tableSection{
    margin-top: 25px;
    margin-bottom: 20px;
}
    .table-responsive, 
    .custom-table {
        background-color: var(--bs-table-bg) !important;
        margin-bottom: 20px;
    }
    .table-responsive {
        width: 100%;
        overflow-x: auto; 
        height: 100%;
    }
    .custom-table {
        width: 100%;
        table-layout: fixed; 
        white-space: nowrap; 
        color: white;
    }
    .custom-table th{
        background-color: #80B918 !important;
    }
    .custom-table th, .custom-table td {
        width: 150px; 
        text-overflow: ellipsis; 
        overflow: hidden;
    }
    .custom-table td.wrap, .custom-table th.wrap {
        white-space: normal !important; /* Allows text wrapping */
        word-wrap: break-word; 
        overflow-wrap: break-word;
    }
    .custom-select{
        width: 90%;
        border-radius: 5px;
        border-style: none;
        padding: 5px;

        background-color: #80b918;
        color: white;
    }
    .custom-option{
        background-color: #f5f5f5;
        color: black;
    }
    .custom-date{
        width: 100%;
    }
    .btn-submit{
        margin-top: 5px;
        border-radius: 5px;
        border-width: 1px;

        background-color: #ffff3f;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 20px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #4CAF50;
    }

    input:checked + .slider:before {
        transform: translateX(14px);
    }

    .btn-edit {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .btn-edit:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
/*Table Section END*/

@media (max-width: 576px)  {
    body{
        padding: 20px;
    }
    .hello{
        font-size: 14px;
    }
    .btn-logout{
        height: 23px;
        font-size: 14px;
    }
    .txt-email{
        font-size: 9px;
    }
}